#include ".Xresources-theme"

URxvt.font: xft:Source Code Pro for Powerline:size=11
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
URxvt*internalBorder: 5
URxvt*geometry: 70x19
URxvt.transparent:   true
URxvt.shading:       20 
